@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 0 0% 13%;
    --card: 210 17% 98%;
    --card-foreground: 0 0% 13%;
    --popover: 210 17% 98%;
    --popover-foreground: 0 0% 13%;
    --primary: 122 47% 34%;
    --primary-foreground: 0 0% 98%;
    --secondary: 207 82% 52%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 172 100% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 1 79% 55%;
    --destructive-foreground: 0 0% 98%;
    --warning: 42 100% 50%;
    --warning-foreground: 0 0% 13%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 122 47% 34%;
    --chart-1: 122 47% 34%;
    --chart-2: 172 100% 37%;
    --chart-3: 207 82% 52%;
    --chart-4: 42 100% 50%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 122 47% 34%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96.1%;
    --sidebar-accent-foreground: 122 47% 34%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 122 47% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 207 82% 58%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 172 100% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 1 79% 60%;
    --destructive-foreground: 0 0% 98%;
    --warning: 42 100% 55%;
    --warning-foreground: 0 0% 13%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 122 47% 40%;
    --chart-1: 122 47% 40%;
    --chart-2: 172 100% 45%;
    --chart-3: 207 82% 58%;
    --chart-4: 42 100% 55%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 122 47% 40%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 122 47% 40%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
